body {
  display: grid;
  /* justify-content: center; */
  background: rgb(234, 246, 255);
  margin: 20px 20px;
}

.hero {
  display: grid;
  justify-content: center;
  color: white;
  padding: 50px;
  background-image: url(/src/images/hero.jpg);
  background-size: cover;
  width: 100%;
  line-height: 1.5em;
}
.hero h1 {
  color: rgb(234, 100, 53);
  text-transform: uppercase;
}

.hero h4 {
  padding-bottom: 0px;
}

h4,
a {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(234, 100, 53);
  cursor: pointer;
}

.application-info {
  margin: 20px;
  background-color: rgb(254, 254, 254);
  padding: 20px 20px;
  color: rgb(234, 100, 53);
  text-align: center;
  font-size: 18px;
}

.highlight {
  color: rgb(40, 114, 195);
}

.project-details {
  padding: 10px 20px;
  color: black;
  display: grid;
  justify-content: center;
}
.project-details span {
  color: rgb(234, 100, 53);
}
.project-details ul {
  list-style: none;
  font-size: 12px;
}
