table {
  font-size: 14px;
  margin-top: 20px;
  border-radius: 10px;
}

thead {
  color: rgb(40, 114, 195);
  background-color: rgb(254, 254, 254);
}

td,
th {
  padding: 10px;
  text-align: left;
  margin: 0;
}

tbody tr:nth-child(2n) {
  background-color: rgb(254, 254, 254);
}

tr td:hover {
  cursor: pointer;
  color: rgb(234, 100, 53);
}
