table {
  font-family: Verdana;
  font-size: 14px;
  width: 600px;
  border-radius: 10px;
}

td,
th {
  padding: 10px;
  text-align: left;
  margin: 0;
}

tbody tr:nth-child(2n) {
  background-color: #eee;
}

th {
  top: 0;
  background-color: #333;
}
